apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: demo
  labels:
    app: api
    component: backend
spec:
  type: ClusterIP
  selector:
    app: api
  ports:
  - name: http
    port: 9621
    targetPort: 9621
    protocol: TCP
  sessionAffinity: None
